# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [14]:
import pandas as pd
pd.set_option('display.max_columns', None)

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [4]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [6]:
#json_normalize(data) #by me

In [7]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [8]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [13]:
# load json as string
#json.load((open('data/world_bank_projects_less.json')))
sample_json=json.load((open('data/world_bank_projects_less.json')))
#json_normalize(sample_json, 'mjtheme_namecode', ['id', 'countryname','countrycode'])

In [15]:
# load as Pandas dataframe

sample_df = pd.read_json('data/world_bank_projects_less.json')
sample_df
#sample_json_df.columns

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,docty,envassesmentcategorycode,grantamt,ibrdcommamt,id,idacommamt,impagency,lendinginstr,lendinginstrtype,lendprojectcost,majorsector_percent,mjsector_namecode,mjtheme,mjtheme_namecode,mjthemecode,prodline,prodlinetext,productlinetype,project_abstract,project_name,projectdocs,projectfinancialtype,projectstatusdisplay,regionname,sector,sector1,sector2,sector3,sector4,sector_namecode,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,"Project Information Document,Indigenous People...",C,0,0,P129828,130000000,MINISTRY OF EDUCATION,Investment Project Financing,IN,550000000,"[{'Name': 'Education', 'Percent': 46}, {'Name'...","[{'name': 'Education', 'code': 'EX'}, {'name':...",[Human development],"[{'name': 'Human development', 'code': '8'}, {...","8,11",PE,IBRD/IDA,L,{'cdata': 'The development objective of the Se...,Ethiopia General Education Quality Improvement...,[{'DocTypeDesc': 'Project Information Document...,IDA,Active,Africa,"[{'Name': 'Primary education'}, {'Name': 'Seco...","{'Name': 'Primary education', 'Percent': 46}","{'Name': 'Secondary education', 'Percent': 26}",{'Name': 'Public administration- Other social ...,"{'Name': 'Tertiary education', 'Percent': 12}","[{'name': 'Primary education', 'code': 'EP'}, ...","ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,"Project Information Document,Integrated Safegu...",C,4700000,0,P144674,0,MINISTRY OF FINANCE,Specific Investment Loan,IN,5700000,"[{'Name': 'Public Administration, Law, and Jus...","[{'name': 'Public Administration, Law, and Jus...","[Economic management, Social protection and ri...","[{'name': 'Economic management', 'code': '1'},...","1,6",RE,Recipient Executed Activities,L,NaN,TN: DTF Social Protection Reforms Support,[{'DocTypeDesc': 'Project Information Document...,OTHER,Active,Middle East and North Africa,[{'Name': 'Public administration- Other social...,{'Name': 'Public administration- Other social ...,{'Name': 'General public administration sector...,NaN,NaN,[{'name': 'Public administration- Other social...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,<br>
1. Find the 10 countries with most projects<br>
2. Find the top 10 major project themes (using column 'mjtheme_namecode')<br>
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.<br>

In [16]:
# Load json as Pandas DataFrame
df=pd.read_json('data/world_bank_projects.json')
df.sample(2)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,docty,envassesmentcategorycode,grantamt,ibrdcommamt,id,idacommamt,impagency,lendinginstr,lendinginstrtype,lendprojectcost,majorsector_percent,mjsector_namecode,mjtheme,mjtheme_namecode,mjthemecode,prodline,prodlinetext,productlinetype,project_abstract,project_name,projectdocs,projectfinancialtype,projectstatusdisplay,regionname,sector,sector1,sector2,sector3,sector4,sector_namecode,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
133,{'$oid': '52b213b38594d8a2be17c805'},2013,June,2013-06-14T00:00:00Z,MUNICIPALITY OF RIO DE JANEIRO,2018-04-30T00:00:00Z,Federative Republic of Brazil!$!BR,BR,Federative Republic of Brazil,Brazil,"Project Appraisal Document,Project Information...",C,0,16200000,P127245,0,NaN,Investment Project Financing,IN,32400000,"[{'Percent': 31, 'Name': 'Health and other soc...","[{'code': 'JX', 'name': 'Health and other soci...","[Public sector governance, Human development, ...","[{'code': '2', 'name': 'Public sector governan...","2,8,2,8,11",PE,IBRD/IDA,L,{'cdata': 'The objective of the Rio de Janeiro...,Rio de Janeiro Strengthening Public Sector Man...,"[{'DocDate': '08-MAY-2013', 'EntityID': '00035...",IBRD,Active,Latin America and Caribbean,"[{'Name': 'Health'}, {'Name': 'General educati...","{'Percent': 31, 'Name': 'Health'}","{'Percent': 30, 'Name': 'General education sec...","{'Percent': 22, 'Name': 'Public administration...","{'Percent': 17, 'Name': 'Sub-national governme...","[{'code': 'JA', 'name': 'Health'}, {'code': 'E...","BH,BS,EZ,JA",IBRD,Active,N,"{'Percent': 10, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","81,67,30,65,27",16200000,16200000,http://www.worldbank.org/projects/P127245/rio-...
100,{'$oid': '52b213b38594d8a2be17c7e4'},2013,June,2013-06-27T00:00:00Z,MINISTRY OF FINANCE,2021-12-31T00:00:00Z,Republic of Kazakhstan!$!KZ,KZ,Republic of Kazakhstan,Kazakhstan,"Implementation Status and Results Report,Proje...",B,0,102900000,P086592,0,COMMITTEE OF WATER RESOURCES,Investment Project Financing,IN,343010000,"[{'Percent': 96, 'Name': 'Agriculture, fishing...","[{'code': 'AX', 'name': 'Agriculture, fishing,...","[Environment and natural resources management,...","[{'code': '11', 'name': 'Environment and natur...","11,10,10,10",PE,IBRD/IDA,L,{'cdata': 'The development objective of the Se...,Second Irrigation and Drainage Improvement Pro...,"[{'DocDate': '22-OCT-2013', 'EntityID': '09022...",IBRD,Active,Europe and Central Asia,"[{'Name': 'Irrigation and drainage'}, {'Name':...","{'Percent': 96, 'Name': 'Irrigation and draina...","{'Percent': 2, 'Name': 'Agricultural extension...","{'Percent': 1, 'Name': 'General agriculture, f...","{'Percent': 1, 'Name': 'Central government adm...","[{'code': 'AI', 'name': 'Irrigation and draina...","BC,AZ,AB,AI",IBRD,Active,N,"{'Percent': 1, 'Name': 'Water resource managem...","[{'code': '85', 'name': 'Water resource manage...","78,79,77,85",102900000,102900000,http://www.worldbank.org/projects/P086592/seco...

In [17]:
# Find relevant columns
#df.columns
cols=['id', 'countryname', 'countrycode', 'mjtheme_namecode']
df=df[cols]
df.head()

,id,countryname,countrycode,mjtheme_namecode
0,P129828,Federal Democratic Republic of Ethiopia,ET,"[{'code': '8', 'name': 'Human development'}, {..."
1,P144674,Republic of Tunisia,TN,"[{'code': '1', 'name': 'Economic management'},..."
2,P145310,Tuvalu,TV,"[{'code': '5', 'name': 'Trade and integration'..."
3,P144665,Republic of Yemen,RY,"[{'code': '7', 'name': 'Social dev/gender/incl..."
4,P144933,Kingdom of Lesotho,LS,"[{'code': '5', 'name': 'Trade and integration'..."

### Find the 10 countries with most projects

In [18]:
df.countryname.value_counts()[:10]

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [19]:
top10country=df.countryname.value_counts().head(10)

print('10 countries with most projects:\n\n',top10country.index.values.tolist())

print('\n number of projects: \n\n',top10country.values)

10 countries with most projects:

 ["People's Republic of China", 'Republic of Indonesia', 'Socialist Republic of Vietnam', 'Republic of India', 'Republic of Yemen', 'Nepal', 'Kingdom of Morocco', "People's Republic of Bangladesh", 'Africa', 'Republic of Mozambique']

 number of projects:

 [19 19 17 16 13 12 12 12 11 11]

'Africa' appears as the country name. Let's check if it is an error by including countrycode in counting.

In [22]:
df.groupby(['countryname','countrycode']).size().sort_values(ascending=False).head(10)

countryname                      countrycode
People's Republic of China       CN             19
Republic of Indonesia            ID             19
Socialist Republic of Vietnam    VN             17
Republic of India                IN             16
Republic of Yemen                RY             13
Nepal                            NP             12
People's Republic of Bangladesh  BD             12
Kingdom of Morocco               MA             12
Africa                           3A             11
Republic of Mozambique           MZ             11
dtype: int64

It appears that 'Africa' is represented by '3A' in countrycode. It might not be clear what the code means but it should not be an error.

### Find the top 10 major project themes and fill in missing themecode

In [27]:
# Load json as strings
data_json=json.load((open('data/world_bank_projects.json')))

# Flattern json
df_json=json_normalize(data_json, 'mjtheme_namecode', ['id', 'countryname'])
df_json.head()

,code,name,id,countryname
0,8,Human development,P129828,Federal Democratic Republic of Ethiopia
1,11,,P129828,Federal Democratic Republic of Ethiopia
2,1,Economic management,P144674,Republic of Tunisia
3,6,Social protection and risk management,P144674,Republic of Tunisia
4,5,Trade and integration,P145310,Tuvalu

In [28]:
# Build a dictionary for the theme code and theme name
code_name_dict=df_json[df_json['name']!=''].set_index('code')['name'].to_dict()

# Fill missing theme names by looking up the code_name_dict
df_json['themename']=df_json.code.replace(code_name_dict)

# Rearrange and rename columns
df_json.drop('name',axis=1,inplace=True)
df_json=df_json[['countryname','id','themename','code']]
df_json.columns=['Country','ProjectId','ThemeName','ThemeCode']
df_json.head()

,Country,ProjectId,ThemeName,ThemeCode
0,Federal Democratic Republic of Ethiopia,P129828,Human development,8
1,Federal Democratic Republic of Ethiopia,P129828,Environment and natural resources management,11
2,Republic of Tunisia,P144674,Economic management,1
3,Republic of Tunisia,P144674,Social protection and risk management,6
4,Tuvalu,P145310,Trade and integration,5

In [29]:
# Check if there is missing value
df_json.isnull().sum()

# Drop duplicated data
#df.duplicated(keep='first')
df_dropduplicate=df_json[['ProjectId','Country']].drop_duplicates(keep='first')

assert (df_dropduplicate.ProjectId.value_counts()==1).sum()==len(df_dropduplicate)

In [32]:
# Find the 10 countries with most projects
df_dropduplicate.Country.value_counts()[:10]

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: Country, dtype: int64

In [226]:
# Find the top 10 major project themes 
df_json.ThemeName.value_counts()[:10]

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: ThemeName, dtype: int64

In [33]:
print('top 10 major project themes :\n\n',df_json.ThemeName.value_counts()[:10].index.values.tolist())

print('number of themes: \n\n',df_json.ThemeName.value_counts()[:10].values)

top 10 major project themes :

 ['Environment and natural resources management', 'Rural development', 'Human development', 'Public sector governance', 'Social protection and risk management', 'Financial and private sector development', 'Social dev/gender/inclusion', 'Trade and integration', 'Urban development', 'Economic management']
number of themes:

 [250 216 210 199 168 146 130  77  50  38]